* {
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;   
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}



.hero { 
    background-color: #1f2937;
    justify-content: space-between;
}

.hero__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    max-width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero__text h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero__text button {
    align-self: flex-end;
    align-self: center;
}

.hero__main { 
    display: flex;
    justify-content: center
    
}

img {
    margin: 50px;
}


.content {
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-content: center;

}



.box {
    border: black solid;
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 120px;
}



.quote{
    padding: 100px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-content: center;
    color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.subquote {
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    
    
}


